/administrator/*
/bin/*
/cache/*
/cli/*
/includes/*
/language/*
/layouts/*
/libraries/*
/media/*
/plugins/*
/tmp/*

/templates/beez3/
/templates/protostar/
/templates/system/
/templates/index.html

/components/com_users/
/components/com_finder/
/components/com_search/
/components/com_wrapper/
/components/com_media/
/components/com_contenthistory/
/components/com_privacy/
/components/com_newsfeeds/
/components/com_tags/
/components/com_modules/
/components/com_content/
/components/com_banners/
/components/com_menus/
/components/com_fields/
/components/com_contact/
/components/com_ajax/
/components/com_mailto/
/components/com_config/
/components/index.html

/images/banners/
/images/com_hikashop/
/images/headers/
/images/sampledata/
/images/index.html
/images/joomla_black.png
/images/powered_by.png

/modules/mod_articles_archive/
/modules/mod_articles_categories/
/modules/mod_articles_category/
/modules/mod_articles_latest/
/modules/mod_articles_news/
/modules/mod_articles_popular/
/modules/mod_banners/
/modules/mod_breadcrumbs/
/modules/mod_custom/
/modules/mod_feed/
/modules/mod_finder/
/modules/mod_footer/
/modules/mod_languages/
/modules/mod_login/
/modules/mod_menu/
/modules/mod_random_image/
/modules/mod_related_items/
/modules/mod_search/
/modules/mod_stats/
/modules/mod_syndicate/
/modules/mod_tags_popular/
/modules/mod_tags_similar/
/modules/mod_users_latest/
/modules/mod_whosonline/
/modules/mod_wrapper/
/modules/index.html

/index.php
/LICENSE.txt
/README.txt
/robots.txt
/web.config.txt